.error {
    color: red;
    padding-left: 5px;
}

.MarsPhoto {
	display: none
}

table, th, td {
  border: 1px solid #000;
}

.formlabel {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 5px;
}


body{
  background:url("../img/mars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
